<div class="container" style="padding: 15px 0 15px;">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a ui-sref="home">Home</a>
        </li>
        <li class="active">
            Contact Us
        </li>
    </ul>

    <div class="row">
        <div class="col-md-6" style="padding-left: 0px;">
            <div class="space20">
            </div>
            <h3 class="form-section">Contacts</h3>
            <p>
                We will reply to your inquiry as soon as possible. Our customer service representatives are available Monday through Thursday from 8:30 am to 8:00pm, and Friday from 9:00am to 6:00pm (Eastern time).
            </p>
            <div class="well">
                <address>
                    <strong>Address</strong><br>
                    795 Park Ave, Suite 120<br>
                    San Francisco, CA 94107<br>
                    P: (234) 145-1810 </address>
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:#">
                        customer.service@fundaml.com </a>
                </address>
                <ul class="social-icons margin-bottom-10">
                    <li>
                        <a href="javascript:;" data-original-title="facebook" class="facebook">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="github" class="github">
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-original-title="skype" class="skype">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="space20">
            </div>
            <!-- BEGIN FORM-->
            <form action="javascript:;">
                <h3 class="form-section">Feedback</h3>
                <p>
                    Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat consectetuer
                </p>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-check"></i>
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input type="password" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3=6" placeholder="Feedback"></textarea>
                </div>
                <button type="submit" class="btn green">Submit</button>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>