<div class="container" style="padding: 15px 0 15px;">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a ui-sref="home">Home</a>
        </li>
        <li class="active">
            User Settings
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar" style="width: 250px; margin-left: -15px;">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img ng-src={{user.avatarUrl}} class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{user.name}}
                        </div>
                        <div class="profile-usertitle-job">
                            Developer
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a ui-sref="user.profile">
                                    <i class="icon-home"></i>
                                    Overview </a>
                            </li>
                            <li class="active">
                                <a ui-sref="user.settings">
                                    <i class="icon-settings"></i>
                                    Account Settings </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
            </div>

            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_1" data-toggle="tab" target="_self">Personal Info</a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_3" data-toggle="tab" target="_self">Change Password</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- PERSONAL INFO TAB -->
                                    <div class="tab-pane active" id="tab_1_1">
                                        <form role="form" action="#">
                                            <div class="form-group">
                                                <label class="control-label">Name <span style="color:red;">*</span></label>
                                                <input class="form-control" type="text" name="name" placeholder="Name" required ng-model="user.name">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Email <span style="color:red;"></span></label>
                                                <input class="form-control" disabled type="email" name="email" placeholder="Email" ng-model="user.email">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Password <span style="color:red;">*</span></label>
                                                <input class="form-control" type="password" name="password" placeholder="Password" required ng-model="user.password">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Mobile Number</label>
                                                <input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Occupation</label>
                                                <input type="text" placeholder="Web Developer" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Website Url</label>
                                                <input type="text" placeholder="http://www.mywebsite.com" class="form-control" />
                                            </div>
                                            <div class="margiv-top-10">
                                                <a class="btn green-haze" ng-click="updateUser()">
                                                    Save Changes </a>
                                                <a class="btn default" ng-click="cancelUpdateUser()">
                                                    Cancel </a>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END PERSONAL INFO TAB -->

                                    <!-- END CHANGE AVATAR TAB -->
                                    <!-- CHANGE PASSWORD TAB -->
                                    <div class="tab-pane" id="tab_1_3">
                                        <form action="#">
                                            <div class="form-group">
                                                <h4>Enter your email address below and we will send you password reset instructions.</h4>
                                                <input class="form-control" type="email" name="email" autofocus="autofocus">
                                            </div>

                                            <div class="margin-top-10">
                                                <a class="btn green-haze" ng-click="resetPassword()">
                                                    Change Password </a>
                                                <a class="btn default" ng-click="cancelResetPassword()">
                                                    Cancel </a>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END CHANGE PASSWORD TAB -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>