<div class="container" style="padding: 15px 0 15px;">

    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a ui-sref="home">Trang Chủ</a>
        </li>
        <li class="active">
            Thông Tin Chung
        </li>
    </ul>

    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="profile-sidebar" style="width: 250px; margin-left: -15px;">
                <div class="portlet light profile-sidebar-portlet">

                    <div class="profile-userpic">
                        <img ng-src={{user.avatarUrl}} class="img-responsive" alt="">
                    </div>

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{user.name}}
                        </div>
                        <div class="profile-usertitle-job">
                            {{user.workInfo}}
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a ui-sref="user.profile">
                                    <i class="icon-home"></i>
                                    Thông Tin Chung
                                </a>
                            </li>
                            <li>
                                <a ui-sref="user.settings">
                                    <i class="icon-settings"></i>
                                    Thông Tin Tài Khoản
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Tóm Tắt Chung</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" ng-show="!!achievements">
                        <div class="col-md-3">
                            <div class="pricing hover-effect">
                                <div class="pricing-head">
                                    <h3>Khoá Học
                                    </h3>
                                    <h4>{{achievements.coursesCompleted}}
                                        <span>Đã Hoàn Thành</span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="pricing hover-effect">
                                <div class="pricing-head">
                                    <h3>Bài Tập
                                    </h3>
                                    <h4>{{achievements.exercisesFinished}}
                                        <span>Đã Hoàn Thành</span>
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="pricing hover-effect">
                                <div class="pricing-head">
                                    <h3>Điểm XP
                                    </h3>
                                    <h4>{{achievements.scores}}
                                        <span>Tích Luỹ</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-content" style="margin-top: 35px;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title">
                                <div class="caption caption-md">
                                    <i class="icon-bar-chart theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Khoá Học Đã Hoàn Thành</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4 col-sm-6" ng-repeat="reg in finishedCourses">
                            <div class="product-item">
                                <div class="pi-img-wrapper">
                                    <img src="../../img/products/model{{$index + 1}}.jpg" class="img-responsive">
                                </div>
                                <h3>{{reg.course.title}}</h3>
                                <div class="pi-price">{{reg.course.level}}</div>
                                <a ui-sref="course.introduction({courseId: reg.course.id})" class="btn btn-default add2cart">Xem Lại</a>
                                <div class="sticker sticker-sale"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>