<div class="container" style="padding: 15px 0 15px;">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a ui-sref="home">Trang Chủ</a>
        </li>
        <li class="active">
            Cập Nhật Thông Tin
        </li>
    </ul>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar" style="width: 250px; margin-left: -15px;">
                <div class="portlet light profile-sidebar-portlet">

                    <div class="profile-userpic">
                        <img ng-src={{user.avatarUrl}} class="img-responsive" alt="">
                    </div>

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{user.name}}
                        </div>
                        <div class="profile-usertitle-job">
                            {{user.work}}
                        </div>
                    </div>

                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a ui-sref="user.profile">
                                    <i class="icon-home"></i>
                                    Thông Tin Tài Khoản </a>
                            </li>
                            <li class="active">
                                <a ui-sref="user.settings">
                                    <i class="icon-settings"></i>
                                    Cập Nhật Thông Tin
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Tài Khoản</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#info_tab" data-toggle="tab" target="_self">Thông Tin</a>
                                    </li>
                                    <li>
                                        <a href="#password_tab" data-toggle="tab" target="_self">Thay Đổi Mật Khẩu</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="info_tab">
                                        <form role="form" name="userForm" ng-submit="updateUser()">
                                            <div class="form-group">
                                                <div class="row">
                                                    <img alt="Talent blank" class="border" src="https://sg-avatars.b0.upaiyun.com/talent_blank.jpg-200w" width="120" height="120" style="border: 1px dashed #dedede; float: left">
                                                    <div style="float: left; margin-left: 15px; margin-top: 48px;">
                                                        <h4>Avatar sẽ được tự động cập nhật sau khi upload.</h4>
                                                        <button type="button" class="btn blue">Thay Đổi</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Tên Đầy Đủ <span style="color:red;">*</span></label>
                                                <input class="form-control" type="text" name="name" placeholder="Name" ng-required="true" ng-model="user.name">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Địa Chỉ Email <span style="color:red;"></span></label>
                                                <input class="form-control" disabled type="email" name="email" placeholder="Email" ng-model="user.email">
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Số Điện  <span style="color:red;">*</span></label>
                                                <input type="text" placeholder="Cơ quan, địa chỉ..." class="form-control" ng-required="true" ng-model="user.contact"/>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Công Việc Hiện Tại <span style="color:red;">*</span></label>
                                                <input type="text" placeholder="Lập trình web..." class="form-control" ng-required="true" ng-model="user.work"/>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Giới tính</label>
                                                <input type="text" placeholder="Nam, nữ..." class="form-control" ng-model="user.gender"/>
                                            </div>

                                            <div class="margiv-top-10">
                                                <button type="submit" class="btn green-haze" ng-disabled="userForm.$invalid">
                                                    Cập Nhật
                                                </button>
                                                <a class="btn default" ng-click="cancelUpdateUser()">
                                                    Huỷ Bỏ </a>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="tab-pane" id="password_tab">
                                        <form name="passwordForm" ng-submit="resetPassword()">
                                            <div class="form-group">
                                                <h4>Cung cấp địa chỉ email của bạn và chúng tôi sẽ gửi hướng dẫn đổi mật khẩu mới.</h4>
                                                <input class="form-control" type="email" name="email" autofocus="autofocus" placeholder="linh@fundaml.com" ng-required="true">
                                            </div>

                                            <div class="margin-top-10">
                                                <button type="submit" class="btn green-haze" ng-disabled="passwordForm.$invalid">
                                                    Gửi Email
                                                </button>
                                                <a class="btn default" ng-click="cancelResetPassword()">
                                                    Huỷ Bỏ
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
    <!-- END PAGE CONTENT INNER -->
</div>
