html, body {height: 100%;}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.container {
  position: relative;
  height: 100%;
}

.instruction_panel {
  width:50%;
  height: 100%;
  float: left;
  border: 1px solid #d5eaef;
}

.editor_panel {
  width:50%;
  height: 50%;
  float: left;
  border: 1px solid #d5eaef;
  padding: 8px 8px 15px 8px;
}

.editor {
  width: 100%;
  height: 90%;
  background-color: black;
}

.console {
  width: 100%;
  height: 90%;
  background-color: black;
}

.console_panel {
  width:50%;
  height: 50%;
  float: left;
  border: 1px solid #d5eaef;
  padding: 8px 8px 15px 8px;
}

.lesson_progress {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 3px;
  margin-top: 10px;
}

.lesson_progress-percentage {
  color: #33aacc;
  font-weight: bold;
  margin-right: 10px;
}

.lesson_progress-bar {
  background-color: #ebf4f7;
  width: 100%;
  height: 9px;
  border-radius: 4.5px;
}

.lesson_progress-bar-completed {
  background-color: #33aacc;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
}
