<div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
        <!-- BEGIN INLINE NOTIFICATIONS PORTLET-->
        <div class="portlet light">
            <div class="portlet-body">

                <div class="row margin-bottom-40">
                    <div class="col-md-12">
                        <form role="form">
                            <div class="form-group" id="search">
                                <label><i class="fa fa-search" aria-hidden="true"></i></label>
                                <input class="form-control" type="text" name="name" placeholder="What do you want to learn?" style="border: 1px solid #E6EAEB; text-indent: 30px; height: 40px;">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row margin-bottom-30" style="text-align: center">
                    <h1 class="h2 u-text-center mt-md mb-lg">Recommended Courses</h1>
                </div>

                <div class="row margin-bottom-40">

                    <!-- Pricing -->
                    <div class="col-md-4">
                        <div class="pricing hover-effect">
                            <div class="pricing-head">
                                <h3>
                                    Introduction To Machine Learning
                                </h3>

                                <h5>

                                    Learn to train and assess models performing common machine learning tasks such as classification and clustering.

                                </h5>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li>
                                    <i class="fa fa-tags"></i> 4 hours
                                </li>
                                <li>
                                    <i class="fa fa-asterisk"></i> 15 lessons
                                </li>
                                <li>
                                    <i class="fa fa-heart"></i> 100 exercises
                                </li>
                                <li>
                                    <i class="fa fa-star"></i> FREE
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <div class="row">
                                    <img src="../img/avatar2.jpg" class="img-circle" alt="" style="float: left;">

                                    <div style="float: left; padding-left: 10px; margin-top: -6px;">
                                        <h5 class="bold">Tiep Vu</h5>
                                        <h5>Author of blog machinelearningcoban</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing hover-effect">
                            <div class="pricing-head">
                                <h3>
                                    Introduction To Machine Learning
                                </h3>

                                <h5>

                                    Learn to train and assess models performing common machine learning tasks such as classification and clustering.

                                </h5>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li>
                                    <i class="fa fa-tags"></i> 4 hours
                                </li>
                                <li>
                                    <i class="fa fa-asterisk"></i> 15 lessons
                                </li>
                                <li>
                                    <i class="fa fa-heart"></i> 100 exercises
                                </li>
                                <li>
                                    <i class="fa fa-star"></i> FREE
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <div class="row">
                                    <img src="../img/avatar2.jpg" class="img-circle" alt="" style="float: left;">

                                    <div style="float: left; padding-left: 10px; margin-top: -6px;">
                                        <h5 class="bold">Tiep Vu</h5>
                                        <h5>Author of blog machinelearningcoban</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing hover-effect">
                            <div class="pricing-head">
                                <h3>
                                    Introduction To Machine Learning
                                </h3>

                                <h5>

                                    Learn to train and assess models performing common machine learning tasks such as classification and clustering.

                                </h5>
                            </div>
                            <ul class="pricing-content list-unstyled">
                                <li>
                                    <i class="fa fa-tags"></i> 4 hours
                                </li>
                                <li>
                                    <i class="fa fa-asterisk"></i> 15 lessons
                                </li>
                                <li>
                                    <i class="fa fa-heart"></i> 100 exercises
                                </li>
                                <li>
                                    <i class="fa fa-star"></i> FREE
                                </li>
                            </ul>
                            <div class="pricing-footer">
                                <div class="row">
                                    <img src="../img/avatar2.jpg" class="img-circle" alt="" style="float: left;">

                                    <div style="float: left; padding-left: 10px; margin-top: -6px;">
                                        <h5 class="bold">Tiep Vu</h5>
                                        <h5>Author of blog machinelearningcoban</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: center;">
            <button class="btn btn-default btn-lg" type="button" style="border: 1px solid #7ecce2;">
                See all courses
            </button>
        </div>
    </div>
</div>