<div style="min-width: 100%; min-height: 100%; background: #f6f6f6;">
    <div class="container">
        <div class="container" style="padding: 15px 0 15px;">
            <div class="row" style="margin-top: 30px;">
                <div class="portlet-body">
                    <div class="row margin-bottom-40">
                        <div class="col-md-10 col-md-offset-1">
                            <form role="form" ng-submit="onSearch()">
                                <div class="form-group" id="search">
                                    <label style="cursor:pointer"><i class="fa fa-search" aria-hidden="true"></i></label>
                                    <input class="form-control" type="text" name="name" placeholder="Bạn muốn tìm khoá học nào?" ng-model="query" style="border: 1px solid #E6EAEB; text-indent: 30px; height: 40px;"
                                    />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row margin-bottom-30 content margin-top-20" style="text-align: center">
                        <h2><strong>{{header()}}</strong></h2>
                    </div>

                    <div class="row margin-bottom-40" ng-show="state=='recommended'">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 margin-bottom-30" ng-repeat="rCourse in recommendations">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="../../img/products/model{{$index + 1}}.jpg" class="img-responsive" alt="Python for Linear Algebra">
                                    </div>
                                    <h3>{{rCourse.title}}</h3>
                                    <div class="pi-price">{{rCourse.level}}</div>
                                    <a ui-sref="course.introduction({courseId: rCourse.id})" class="btn btn-default add2cart">Chi Tiết</a>
                                    <div class="sticker sticker-sale"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-bottom-40" ng-show="state=='searched'">
                        <div class="col-md-4" ng-repeat="rCourse in searchResults">
                            <div class="product-item">
                                <div class="pi-img-wrapper">
                                    <img src="../../img/products/model{{$index + 1}}.jpg" class="img-responsive" alt="Python for Machine Learing 1">
                                </div>
                                <h3>{{rCourse.title}}</h3>
                                <div class="pi-price">{{rCourse.level}}</div>
                                <a ui-sref="course.introduction({courseId: rCourse.id})" class="btn btn-default add2cart">Chi Tiết</a>
                                <div class="sticker sticker-sale"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>