<div class="container">
    <div class="container" style="padding: 15px 0 15px;">
        <div class="note note-success note-bordered" ng-show="false">
            <h4 class="block">Notice!!!</h4>
            <p>
            </p>
        </div>

        <div style="margin-top: 50px;">
            <div class="portlet-body">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#courses-in-progress" data-toggle="tab" target="_self">
                                Khoá Học Đang Tham Gia
                            </a>
                        </li>
                        <li>
                            <a href="#courses-completed" data-toggle="tab" target="_self">
                                Khoá Học Đã Hoàn Thành
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="row list-group course-list tab-pane active" id="courses-in-progress">
                            <div class="item  col-xs-4 col-lg-4" ng-repeat="reg in ongoingCourses">
                                <div class="thumbnail">
                                    <img class="group list-group-image" ng-src="{{reg.course.coverImageUrl}}" alt="{{reg.course.title}}" />
                                    <div class="caption">
                                        <a ui-sref="course.introduction({courseId: reg.course.id})" class="group inner list-group-item-heading">{{reg.course.title}}</a>
                                        <p class="group inner list-group-item-text"> {{reg.course.description}} </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="btn btn-success" href="javascript:void()">{{reg.course.level}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row list-group course-list tab-pane" id="courses-completed">
                            <div class="item  col-xs-4 col-lg-4" ng-repeat="reg in finishedCourses">
                                <div class="thumbnail">
                                    <img class="group list-group-image" ng-src="{{reg.course.coverImageUrl}}" alt="{{reg.course.title}}" />
                                    <div class="caption">
                                        <a ui-sref="course.introduction({courseId: reg.course.id})" class="group inner list-group-item-heading">{{reg.course.title}}</a>
                                        <p class="group inner list-group-item-text"> {{reg.course.description}} </p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="btn btn-success" href="javascript:void()">{{reg.course.level}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>