<div class="container">
    <div class="container" style="padding: 15px 0 15px;">
        <div class="note note-success note-bordered" ng-show="false">
            <h4 class="block">Notice!!!</h4>
            <p>
            </p>
        </div>

        <div style="margin-top: 20px;">
            <div class="portlet-body">
                <div class="row">
                    <form class="form-horizontal">
                        <div uib-alert class="alert-success">
                            Chào mừng bạn đã quay trở lại với Machine Learning cơ bản và FundaML. Chúc bạn một ngày tốt lành.
                        </div>
                    </form>
                </div>


                <div class="row" style="margin-bottom: 65px;" ng-show="state=='unregistered'">
                    <div class="content-block content content-center">
                        <div class="container">
                            <h2>Bạn đang tìm hiểu về <strong>machine learning</strong>...</h2>
                            <div style="margin-top: 20px;">
                                <h4>
                                    và gặp khó khăn trong lập trình? Chúng ta hãy cùng bắt đầu từ những thứ đơn giản nhất, bằng việc học và lập trình trực tiếp
                                    trên trình duyệt.
                                </h4>
                            </div>

                            <div class="btn-group">
                                <a class="btn blue btn-lg" type="button" ui-sref="course.introduction({courseId: courses[0].id})">
                                    Tham Gia Ngay
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="state=='registered'" style="margin-top: 30px; margin-bottom: 30px;">
                    <div class="col-md-3" style="padding-left: 0px;">
                        <div class="pricing hover-effect">
                            <div class="pricing-head">
                                <h3>Khoá Học
                                </h3>
                                <h4>{{achievements.coursesCompleted}}
                                    <span>Đã Hoàn Thành</span>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="pricing hover-effect">
                            <div class="pricing-head">
                                <h3>Bài Tập
                                </h3>
                                <h4>{{achievements.exercisesFinished}}
                                    <span>Đã Hoàn Thành</span>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="pricing hover-effect">
                            <div class="pricing-head">
                                <h3>Điểm XP
                                </h3>
                                <h4>{{achievements.scores}}
                                    <span>Tích Luỹ</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabbable-line" ng-show="state=='registered'">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#courses-in-progress" data-toggle="tab" target="_self">
                                Khoá Học Đang Tham Gia
                            </a>
                        </li>
                        <li>
                            <a href="#courses-completed" data-toggle="tab" target="_self">
                                Khoá Học Đã Hoàn Thành
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="row list-group course-list tab-pane active" id="courses-in-progress">
                            <div class="item  col-xs-3 col-lg-3" ng-repeat="reg in ongoingCourses">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img ng-src="{{reg.course.coverImageUrl}}" alt="{{reg.course.title}}" class="img-responsive">
                                    </div>
                                    <h3>{{reg.course.title}}</h3>
                                    <div class="pi-price">{{reg.course.level}}</div>
                                    <a ui-sref="course.introduction({courseId: reg.course.id})" class="btn btn-default add2cart">Tiếp Tục</a>
                                    <div class="sticker sticker-sale"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row list-group course-list tab-pane" id="courses-completed">
                            <div class="item  col-xs-3 col-lg-3" ng-repeat="reg in finishedCourses">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img ng-src="{{reg.course.coverImageUrl}}" alt="{{reg.course.title}}" class="img-responsive">
                                    </div>
                                    <h3>{{reg.course.title}}</h3>
                                    <div class="pi-price">{{reg.course.level}}</div>
                                    <a ui-sref="course.introduction({courseId: reg.course.id})" class="btn btn-default add2cart">Xem Lại</a>
                                    <div class="sticker sticker-sale"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>