<div class="container">
    <div class="container" style="padding: 15px 0 15px;">
        <div class="note note-success note-bordered" ng-show="false">
            <h4 class="block">Notice!!!</h4>
            <p>
            </p>
        </div>

        <div style="margin-top: 50px;">
            <div class="portlet-body">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#courses-in-progress" data-toggle="tab" target="_self">
                                Khoá Học Đang Tham Gia
                            </a>
                        </li>
                        <li>
                            <a href="#courses-completed" data-toggle="tab" target="_self">
                                Khoá Học Đã Hoàn Thành
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="courses-in-progress">
                            <div class="col-md-3 col-sm-6" ng-repeat="reg in ongoingCourses" style="margin-bottom:30px">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img ng-src="../img/products/model{{$index + 1}}.jpg" class="img-responsive" alt="Berry Lace Dress">
                                    </div>
                                    <h3><a href="shop-item.html">{{reg.course.title}}</a></h3>
                                    <div class="pi-price">{{reg.course.level}}</div>
                                    <a ui-sref="course.introduction({courseId: reg.course.id})" class="btn btn-default add2cart">Tiếp Tục</a>
                                    <div class="sticker sticker-sale"></div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="courses-completed">
                            <div class="col-md-3 col-sm-6" ng-repeat="reg in finishedCourses" style="margin-bottom:30px">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img ng-src="../img/products/model{{$index + 1}}.jpg" class="img-responsive" alt="Berry Lace Dress">
                                    </div>
                                    <h3><a href="shop-item.html">{{reg.course.title}}</a></h3>
                                    <div class="pi-price">{{reg.course.level}}</div>
                                    <a ui-sref="course.introduction({courseId: reg.course.id})" class="btn btn-default add2cart">Tiếp Tục</a>
                                    <div class="sticker sticker-sale"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>