<div class="container" style="padding: 15px 0 15px;">
    <ul class="breadcrumb">
        <li><a ui-sref="home">Home</a></li>
        <li class="active">Forgot Password</li>
    </ul>

    <div style="margin-left: 13px;">
        <div class="row">
            <h1>Forgot Password?</h1>
            <hr/>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form ng-submit="forgot()">
                    <div class="form-group">
                        <p>Enter your email address below and we will send you password reset instructions.</p>
                        <input class="form-control" type="email" name="email" autofocus="autofocus" required ng-model="user.email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>