<div style="width: inherit; height: inherit; background: #f6f6f6;">

    <div class="container">
        <div class="container" style="padding: 15px 0 15px;">

            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home">Trang Chủ</a>
                </li>
                <li class="active">
                    Quên Mật Khẩu
                </li>
            </ul>

            <div>
                <h1>Bạn quên mật khẩu?</h1>
                <hr/>
            </div>

            <div class="col-sm-8 col-sm-offset-2">
                <form ng-submit="onSubmit()" name="forgotForm">
                    <div class="form-group" ng-hide="state=='sent'">
                        <p>Cung cấp địa chỉ email của bạn và chúng tôi sẽ gửi hướng dẫn đổi mật khẩu mới.</p>
                        <input class="form-control" type="email" name="email" autofocus="autofocus" placeholder="linh@fundaml.com" ng-required="true"
                            ng-model="user.email">
                    </div>

                    <div class="form-group" ng-show="state=='error'">
                        <div uib-alert class="alert-danger" close="closeAlert()">{{alertMessage}}</div>
                    </div>

                    <div class="form-group" ng-show="state=='sent'">
                        <div uib-alert class="alert-success" close="closeAlert()">
                            Chúng tôi đã gửi email thay đổi mật khẩu cho bạn.
                        </div>
                    </div>

                    <div class="form-group" ng-hide="state=='sent'">
                        <button class="btn btn-primary" type="submit">Gửi Email</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>