<div class="container">
    <div class="container" style="padding: 15px 0 15px;">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a ui-sref="home">Trang Chủ</a>
            </li>
            <li class="active">
                Quên Mật Khẩu
            </li>
        </ul>


        <div>
            <div>
                <h1>Bạn quên mật khẩu?</h1>
                <hr/>
            </div>

            <div>
                <div class="col-sm-8 col-sm-offset-2">
                    <form ng-submit="forgot()" name="forgotForm">
                        <div class="form-group">
                            <p>Cung cấp địa chỉ email của bạn và chúng tôi sẽ gửi hướng dẫn đổi mật khẩu mới.</p>
                            <input class="form-control" type="email" name="email" autofocus="autofocus" placeholder="linh@fundaml.com" ng-required="true" ng-model="user.email">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" ng-disabled="forgotForm.$invalid">Gửi Email</button>
                        </div>
                        <div class="form-group">
                            <hr/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
