<div class="row" style="margin-bottom: 65px;">
    <div class="content-block content content-center">
        <div class="container">
            <h2>Bạn đang tìm hiểu về <strong>machine learning</strong>...</h2>
            <div style="margin-top: 20px;">
                <h4>
                    và gặp khó khăn trong lập trình? Chúng ta hãy cùng bắt đầu từ những thứ đơn giản nhất, bằng việc học và lập trình trực tiếp
                    trên trình duyệt.
                </h4>
            </div>

            <div class="btn-group">
                <a class="btn blue btn-lg" type="button" ui-sref="course.introduction({courseId: courses[0].id})">
                    Tham Gia Ngay
                </a>
            </div>
        </div>
    </div>
</div>

<div class="facts-block content content-center">
    <!-- <h2>Hiện đã có:</h2> -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item">
                    <strong>{{summaries.lessonCount}}</strong> Bài Học
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item">
                    <strong>{{summaries.exerciseCount}}</strong> Bài Tập Thực Hành
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item">
                    <strong>{{summaries.userCount}}</strong> Thành Viên
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials-block content content-center margin-bottom-65">
    <div class="container">
        <h2>Đánh giá từ Người dùng</h2>
        <h4></h4>

        <div class="carousel slide" data-ride="carousel" id="testimonials-block">
            <div class="carousel-inner">
                <div class="active item">
                    <blockquote style="margin-bottom: 30px;">
                        <p>Nhờ nền tảng FundaML, tôi có thể thực hành ngay những kiến thức đại số tuyến tính vừa học.</p>
                    </blockquote>
                    <span class="testimonials-name">Linh Nguyễn</span>
                </div>
                <div class="item">
                    <blockquote style="margin-bottom: 30px;">
                        <p>Khoá học vô cùng dễ hiểu và chi tiết, tôi sẽ giới thiệu khoá học cho các bạn bè của mình.</p>
                    </blockquote>
                    <span class="testimonials-name">Huy Hoàng</span>
                </div>
            </div>

            <ol class="carousel-indicators">
                <li data-target="#testimonials-block" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials-block" data-slide-to="1"></li>
            </ol>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 65px;">
    <div class="services-block content content-center">
        <div class="container">
            <h2>Đánh giá của bạn</strong>
            </h2>

            <div class="col-md-6 col-md-offset-3">
                <div class="space20">
                </div>
                <form name="feedbackForm" ng-submit="sendFeedback()">
                    <div style="margin-top: 20px;">
                        <h4 style="margin-bottom: 30px;">
                            Chúng tôi lắng nghe mọi ý kiến góp ý và phản hồi từ các bạn.
                            <br/> Cám ơn bạn rất nhiều!
                        </h4>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Địa Chỉ Email" required ng-model="feedback.email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tên của bạn" required ng-model="feedback.title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="3=6" placeholder="Nội Dung" required ng-model="feedback.content"></textarea>
                    </div>
                    <button type="submit" class="btn green">Gửi Góp Ý</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="pre-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2>FundaML</h2>
                    <p>"Đường xa vạn dặm khởi đầu bằng một bước chân."</p>
                </div>

                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2 class="margin-bottom-0">Đường Dẫn</h2>
                    <p>
                        <a target="_blank" href="https://machinelearningcoban.com/">Blog</a>
                    </p>
                    <p>
                        <a target="_blank" href="https://www.facebook.com/machinelearningbasicvn">Cộng Đồng</a>
                    </p>
                    <p>
                        <a target="_blank" href="https://www.facebook.com/groups/257768141347267/">Diễn Đàn</a>
                    </p>
                    <p>
                        <a target="_blank" href="https://machinelearningcoban.com/ebook/">Ebook</a>
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2>Địa Chỉ</h2>
                    <address class="margin-bottom-20">
                        State College, <br> Pennsylvania, USA<br>
                        <!-- Phone: 226 868 9827<br> -->
                        Email: <a href="mailto:vuhuutiep@gmail.com">vuhuutiep@gmail.com</a><br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="copyright">2017 © FundaML. ALL Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</div