<div class="container" style="padding: 15px 0 15px;">
    <div class="row">
        <h1>Interactive Machine Learning</h1>
        <p class="lead">Learn machine learning from scratch with us!</p>
        <hr/>
    </div>

    <div class="row margin-bottom-40">
        <!-- BEGIN SALE PRODUCT -->
        <div class="col-md-12 sale-product">
            <h2>New Arrivals</h2>
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="../img/products/model1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="sticker sticker-sale"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="../img/products/model2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model6.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="../img/products/model6.jpg" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="../img/products/model4.jpg" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="#">Berry Lace Dress4</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                    <div class="sticker sticker-new"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 sale-product">
            <h2>Beginner</h2>
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model5.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="../img/products/model5.jpg" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress5</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="../img/products/model3.jpg" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model7.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="../img/products/model7.jpg" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">Add to cart</a>
                </div>
            </div>
        </div>
        <!-- END SALE PRODUCT -->
    </div>
</div>