<div class="container" style="padding: 15px 0 15px; margin-top: 30px;">
    <div>
        <h1>Interactive Machine Learning</h1>
        <p class="lead">Learn machine learning from scratch with us!</p>
        <hr/>
    </div>

    <div class="row" style="margin-top: 20px;">
        <!-- BEGIN SALE PRODUCT -->
        <div class="sale-product">
            <h2>Top Courses</h2>
            <div class="col-md-3 col-sm-6" ng-repeat="rCourse in recentCourses">
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img ng-src="{{rCourse.coverImageUrl}}" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">{{rCourse.title}}</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">View Course</a>
                    <div class="sticker sticker-sale"></div>
                </div>
            </div>
        </div>
        <hr/>
    </div>

    <div class="row" style="margin-top: 20px;">
        <h2>Beginner</h2>
        <div class="owl-carousel owl-carousel5">
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model1.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">View Course</a>
                    <div class="sticker sticker-sale"></div>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model2.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">View Course</a>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model6.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">View Course</a>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="#">Berry Lace Dress4</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">View Course</a>
                    <div class="sticker sticker-new"></div>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model5.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress5</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">View Course</a>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">View Course</a>
                </div>
            </div>
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../img/products/model7.jpg" class="img-responsive" alt="Berry Lace Dress">
                        <div>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                    <div class="pi-price">$29.00</div>
                    <a href="#" class="btn btn-default add2cart">View Course</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        Layout.initOWL();
    });
</script>