<div class="page-header">
    <h3>Login</h3>
</div>
<form class="form-horizontal" role="form" ng-submit="login()">
    <div class="form-group">
        <label class="col-sm-3 control-label">Email</label>
        <div class="col-sm-7">
            <input class="form-control" type="email" placeholder="Email" required ng-model="user.email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Password</label>
        <div class="col-sm-7">
            <input class="form-control" type="password" name="password" placeholder="Password" required ng-model="user.password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <button class="col-sm-3 btn btn-primary" type="submit">
                Login
            </button>
            <a class="btn btn-link" ui-sref="forgotPassword">Forgot your password?</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
            <hr/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-7">
            <p class="text-muted">or login using:</p>
            <ul class="social-icons">
                <li><a href="#" data-original-title="facebook" class="facebook" title="facebook"></a></li>
                <li><a href="#" data-original-title="Twitter" class="twitter" title="Twitter"></a></li>
                <li><a href="#" data-original-title="Google Plus" class="googleplus" title="Google Plus"></a></li>
                <li><a href="#" data-original-title="Linkedin" class="linkedin" title="LinkedIn"></a></li>
            </ul>
        </div>
    </div>
</form>