<div style="width: inherit; height: inherit; background: #f6f6f6;">
    <div class="container">
        <div class="container" style="padding: 15px 0 15px;">

            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a ui-sref="home">Trang chủ</a>
                </li>
                <li class="active">Đăng nhập</li>
            </ul>

            <div>
                <h1>Đăng nhập với chúng tôi</h1>
                <hr/>
            </div>

            <form class="form-horizontal" role="form" ng-submit="login()" name="loginForm">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Địa Chỉ Email <span style="color:red;">*</span></label>
                    <div class="col-sm-7">
                        <input class="form-control" type="email" name="email" placeholder="email@email.com" required ng-model="user.email">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Mật Khẩu <span style="color:red;">*</span></label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="password" name="password" placeholder="Password" ng-model="user.password">
                    </div>
                </div>

                <div class="form-group" ng-show="state=='error'">
                    <div class="col-sm-7 col-sm-offset-3">
                        <div uib-alert class="alert-danger" close="closeAlert()">{{alertMessage}}</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button class="col-sm-3 btn btn-primary" type="submit"> Đăng nhập </button>
                        <a class="btn btn-link" ui-sref="forgotPassword">Quên mật khẩu?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="pre-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2>FundaML</h2>
                    <p>"Đường xa vạn dặm khởi đầu bằng một bước chân."</p>
                </div>

                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2 class="margin-bottom-0">Đường Dẫn</h2>
                    <p>
                        <a target="_blank" href="https://machinelearningcoban.com/">Blog</a>
                    </p>
                    <p>
                        <a target="_blank" href="https://www.facebook.com/machinelearningbasicvn">Facebook Page</a>
                    </p>
                    <p>
                        <a target="_blank" href="https://www.facebook.com/groups/257768141347267/">Diễn Đàn</a>
                    </p>
                    <p>
                        <a target="_blank" href="https://machinelearningcoban.com/ebook/">Ebook</a>
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 pre-footer-col">
                    <h2>Địa Chỉ</h2>
                    <address class="margin-bottom-20">
                        State College, <br> Pennsylvania, USA<br>
                        <!-- Phone: 226 868 9827<br> -->
                        Email: <a href="mailto:info.fundaml@gmail.com">info.fundaml@gmail.com</a><br>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="copyright">2017 © FundaML. ALL Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</div>


