<div class="container" style="padding: 15px 0 15px;">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a ui-sref="">Home</a><i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="">Introduction to Machine Learning</a><i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="">Course</a><i class="fa fa-circle"></i>
        </li>
        <li class="active">
            Lesson 1
        </li>
    </ul>



    <div class="portlet-body">
        <div class="row">
            <div class="col-md-3">
                <ul class="ver-inline-menu tabbable margin-bottom-10">
                    <li class="active">
                        <a>
                            <i class="fa fa-briefcase"></i> Overview </a>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-info-circle"></i> Notes </a>
                    </li>
                    <li data-toggle="collapse" data-target="#exercises-menu">
                        <a data-toggle="collapse">
                            <i class="fa fa-info-circle"></i> Exercises </a>
                        <ul class="nav collapse" id="exercises-menu">
                            <li><a>Exercise 1</a></li>
                            <li><a>Exercise 2</a></li>
                            <li><a>Exercise 3</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="row">
                        <div class="portlet light">
                            <div class="portlet-title">
                                <h1>Lesson 1</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>