<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="build/main.css" rel="stylesheet">
    <link href="build/vendor.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body ng-app="resetPasswordApp" ng-controller="resetPasswordCtrl" style="background: #f6f6f6;">

    <div class="container">
        <div class="container" style="padding: 15px 0 15px;">

            <div>
                <h1>Thay đổi mật khẩu</h1>
                <hr/>
            </div>

            <form class="form-horizontal" id="signup-form" ng-submit="onSubmit()">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mật Khẩu Mới</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="password" id="password" ng-required="true" ng-model="password" placeholder="Mật khẩu">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nhập Lại Mật Khẩu Mới</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="password" id="confirmPassword" placeholder="Nhập lại mật khẩu" ng-required="true" ng-model="confirmPassword">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7 col-sm-offset-3">
                        <div uib-alert ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()" ng-show="hasAlert">{{alert.msg}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button id="submitButton" class="btn btn-primary btn-reset" type="submit" ng-show="!isSuccess">Đổi Mật Khẩu</button>
                        <a class="btn btn-primary btn-reset" ng-show="isSuccess" ng-href="{{homePageUrl}}">Quay Lại Trang Chủ</a>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <script src="build/vendor.js"></script>
    <script src="build/main.js"></script>
</body>

</html>