<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="build/main.css" rel="stylesheet">
    <link href="build/vendor.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>

<body ng-app="resetPasswordApp" ng-controller="resetPasswordCtrl" style="background: #f6f6f6;">

    <div class="container">
        <div class="container" style="padding: 15px 0 15px;">

            <div>
                <h1>Thay đổi mật khẩu</h1>
                <hr/>
            </div>

            <form class="form-horizontal" id="signup-form" ng-submit="onSubmit()">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Mật Khẩu Mới <span style="color:red;">*</span></label>
                    <div class="col-sm-7">
                        <input class="form-control" type="password" id="password" required ng-model="password" placeholder="Mật khẩu">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Nhập Lại Mật Khẩu Mới <span style="color:red;">*</span></label>
                    <div class="col-sm-7">
                        <input class="form-control" type="password" id="confirmPassword" placeholder="Nhập lại mật khẩu" required ng-model="confirmPassword">
                    </div>
                </div>

                <div class="form-group" ng-show="state=='error'">
                    <div class="col-sm-7 col-sm-offset-3">
                        <div uib-alert class="alert-danger" close="closeAlert()">{{alertMessage}}</div>
                    </div>
                </div>

                <div class="form-group" ng-hide="state=='sent'">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button id="submitButton" class="btn btn-primary btn-reset" type="submit">Đổi Mật Khẩu</button>
                    </div>
                </div>

                <div class="form-group" ng-show="state=='sent'">
                    <div class="col-sm-7 col-sm-offset-3">
                        <div uib-alert class="alert-success" close="closeAlert()">
                            Thay đổi mật khẩu thành công.
                        </div>
                    </div>

                    <div class="col-sm-offset-3 col-sm-7">
                        <a class="btn btn-primary btn-reset" href="/">Quay Lại Trang Chủ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="build/vendor.js"></script>
    <script src="build/main.js"></script>
</body>

</html>