<div class="container" style="min-height: 800px; min-width: 800px;">
    <div class="instruction_panel">
    </div>

    <div class="editor_panel">
        <div class="editor">

        </div>

        <ul class="nav nav-tabs" style="border-color: #fff; margin-top: 10px;">
            <li class="active">
                <a href="" data-toggle="tab" style="cursor: auto;">
                    Submit
                </a>
            </li>
        </ul>
    </div>
    <br />


    <div class="console_panel">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="" data-toggle="tab">
                    Console </a>
                <br>
                <div>{{outputText}}</div>
            </li>
            <li>
                <a href="" data-toggle="tab">
                    Plot </a>
                    <br>
                <img ng-src="{{getGraphSrc()}}" alt="">
            </li>
        </ul>

        <div class="console" style="margin-top: -15px;">
            <div btf-markdown="markdown">
            </div>
        </div>
    </div>
</div>