<div class="container">
    <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-offset-3 col-md-6">
            <!-- BEGIN VIDEO -->
            <iframe height="270" allowfullscreen="" style="width:100%; border:0" src="http://player.vimeo.com/video/56974716?portrait=0" class="margin-bottom-10"></iframe>
            <!-- END VIDEO -->
        </div>
        <!-- END BEGIN VIDEO AND TESTIMONIALS -->
    </div>

    <!-- BEGIN SERVICE BOX -->
    <div class="row service-box margin-bottom-40">
        <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
                <em><i class="fa fa-location-arrow blue"></i></em>
                <span>Interactive Programming</span>
            </div>
            <p>Coming soon...</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
                <em><i class="fa fa-check red"></i></em>
                <span>Well-prepared Materials</span>
            </div>
            <p>Coming soon...</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
                <em><i class="fa fa-compress green"></i></em>
                <span>Dedicated Instructors</span>
            </div>
            <p>Coming soon...</p>
        </div>
    </div>
    <!-- END SERVICE BOX -->

    <!-- BEGIN BLOCKQUOTE BLOCK -->
    <div class="row quote-v1 margin-bottom-30">
        <div class="col-md-9">
            <span>FundaML - Learn Machine Learning From Scratch in 30 Days</span>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn-transparent" target="_blank" ng-click="registerCourse()">
                <i class="fa fa-rocket margin-right-10"></i>
                Register Now</a>
        </div>
    </div>
</div>